@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply m-0 p-0 box-border font-poppins scroll-smooth ;
}

/* body{
  @apply w-full h-[100vh];
} */

/* Typography */

h1{
  @apply text-[50px] lg:text-[60px] font-poppins  font-bold;
}
h2{
  @apply text-[30px] md:text-[40px] lg:text-[50px] font-poppins  font-bold;
}
h3{
  @apply text-[25px] font-poppins  font-semibold;
}

h5{
  @apply  text-[20px] lg:text-[25px] font-poppins font-bold;
}


h4{
  @apply text-[20px] font-medium font-poppins  ;

}

.body-text{
  @apply text-[16px] font-poppins  ;
}

.heading-s{
  @apply text-[18px] font-poppins ;
}

/* error msg */

.errMsg {
  @apply text-sm text-red-500;
}

/* txt box */
.txtbox{
  @apply w-full px-[1rem] h-[2.5rem] md:h-[3rem] rounded-md border-0 md:border-[3px] border-solid border-black;
}

.txtbox2{
  @apply w-full bg-transparent border-0 focus:ring-0 px-0;
}

/* logo design */
.logo{
  @apply text-[35px] ;
}

/* btn */
.btn{
  @apply rounded-full text-white bg-blue-800 px-[1.5rem] h-[3rem] hover:bg-blue-900 focus:bg-blue-900 ;
}

.btn1{
  @apply w-full md:min-w-[20rem] h-[3rem] bg-blue-700 text-white rounded-md hover:bg-blue-800 focus:bg-blue-800;
}

.btn2{
  @apply w-full h-[3rem] ;
}
.btn3{
  @apply px-3 py-2 w-[5rem] text-white bg-blue-500 hover:bg-blue-600 focus:bg-blue-600 rounded-full;
}

.btn4{
  @apply px-3 py-1 flex items-center border-2 border-solid border-black dark:border-slate-200 dark:text-slate-200 rounded-full;
}
.btn5{
  @apply px-3 py-1 flex items-center border-2 border-solid text-white border-blue-500 bg-blue-500 hover:bg-blue-600 focus:bg-blue-600 rounded-full;
}
.btn6{
  @apply px-3 py-1 flex items-center border-2 border-solid text-blue-600 border-blue-500 bg-white hover:bg-slate-50 focus:bg-slate-100 rounded-full;
}

.noscroll::-webkit-scrollbar{
  display: none;
}