@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply m-0 p-0 box-border font-poppins scroll-smooth ;
}

/* body{
  @apply w-full h-[100vh];
} */

/* Typography */

h1{
  @apply text-[50px] lg:text-[60px] font-poppins  font-bold;
}
h2{
  @apply text-[30px] md:text-[40px] lg:text-[50px] font-poppins  font-bold;
}

h5{
  @apply  text-[20px] lg:text-[25px] font-poppins font-bold;
}

.heading-m{
  @apply text-[24px] font-poppins   ;

}

.body-text{
  @apply text-[16px] font-poppins  ;
}

.heading-s{
  @apply text-[18px] font-poppins ;
}


/* txt box */
.txtbox{
  @apply border-2 border-solid border-black;
}

/* logo design */
.logo{
  @apply text-[35px] ;
}

/* btn */
.btn{
  @apply rounded-full text-white bg-blue-800 px-[1.5rem] h-[3rem] hover:bg-blue-900 focus:bg-blue-900 ;
}